.jumbotron {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #555;
  -webkit-text-stroke: 1px #555;
}

.margin-3-btm {
  margin-bottom: 3rem;
}

.author {
  font-weight: bold;
}